
.vs/ChampionMod/v16/.suo
.vs/ChampionMod/v16/.suo
.vs/ChampionMod/v16/.suo
*.ide-shm
*.dll
.vs/ChampionMod/v16/Server/sqlite3/storage.ide-shm
.vs/ChampionMod/v16/Server/sqlite3/storage.ide-wal
.vs/ChampionMod/v16/Server/sqlite3/storage.ide-shm
*.ide-shm
*.ide
.vs/ChampionMod/v16/.suo
.vs/ChampionMod/DesignTimeBuild/.dtbcache
